<!DOCTYPE html>
<html>

<head>

    <!-- {% if title %}
    <title>I have a title: {{title}}</title>
    {% else %}
    <title>Default</title>
    {% endif %} -->

    <title>EcoLab</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

</head>

<body>
    <div id="login-page-background"></div>

    <div id="login-box">
        <h1>EcoLab</h1>
        <form method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Welcome!</label>
                <input name="text" type="text" class="form-control" id="login-field" placeholder="Enter username">
                <button class="btn btn-primary" type="submit" id="login-button">Login</button>
            </div>
        </form>

    </div>
</body>


<footer>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- <script type=text/javascript>
      $(document).ready(function() {
        $('#login-button').bind('click', function() {
          $.getJSON('/background_process_test',
              function(data) {
            //do nothing
          });
          return false;
        });
      });
  </script> -->
</footer>

</html>
