<html>
<head>
    <title>EcoLab: {{user.name}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>

    <h2 id="welcome-text">Welcome, {{user.name}}!</h2>

    <h2 id="points-text">You have: {{user.points}} points!</h2>
    <!-- <h5 id="points-text">You saved {{x}} greenhouse gases</h2> -->

    <div id="history">
        <h3 id="history-header">Bin History</h3>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Points</th>
                    <th scope="col">Correct Bin</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {%for h in user.history%}
                <tr>
                    <th scope="row">{{h['name']}}</th>
                    <td>{{h['points']}}</td>
                    <td>{{h['bin']}}</td>
                    <td>{{h['date']}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <div id="leaderboard">
        <h3 id="leaderboard-header">Leaderboard</h3>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

</body>
</html>
